@import "../core/Variables";

.footer {
  background-color: rgb(184, 233, 226);
  text-align: center;
  &__link {
    transform: translateY(-50px);
    background-color: aliceblue;
  }
  &__logo {
    width: 60px;
    transform: translateY(-60px);
  }
}
