:root {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Ubuntu Mono", monospace;
}

@import "core/variables";
//@import "core/reset";
// @import "layout/header";
@import "layout/main";
// @import "layout/footer";

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 240px 1fr 40px;
  @media all and (min-width: 768px) {
    grid-template-rows: 400px 1fr 50px;
  }
  @media all and (min-width: 1020px) {
    grid-template-rows: 400px 1fr 40px;
  }
}
